databases:
  - name: postgres-db
    plan: free
    region: oregon

services:
  # 1. El Listener de Webhooks (FastAPI)
  - type: web
    name: webhook-listener
    env: python
    pythonVersion: "3.10.13"
    plan: free
    region: oregon
    autoSuspend: false
    healthCheckPath: /
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn webhook_receiver:app --host 0.0.0.0 --port $PORT"
    envVars:
      - key: DATABASE_URL
        fromService:
          type: postgres
          name: postgres-db
          property: connectionString
      - key: PYTHON_VERSION
        value: "3.10.13"

  # 2. El Dashboard (Streamlit)
  - type: web
    name: dashboard
    env: python
    pythonVersion: "3.10.13"
    plan: free
    region: oregon
    autoSuspend: false
    healthCheckPath: /_stcore/health
    buildCommand: "pip install -r requirements.txt"
    startCommand: "streamlit run streamlit_app.py --server.port $PORT --server.enableCORS false --server.enableXsrfProtection false"
    envVars:
      - key: DATABASE_URL
        fromService:
          type: postgres
          name: postgres-db
          property: connectionString
      - key: SAMSARA_API_KEY
        sync: false # Recuerda poner esta clave manualmente en el dashboard de Render
      - key: PYTHON_VERSION
        value: "3.10.13"
