streamlit
requests
pandas
numpy
plotly
folium
streamlit-folium
torch
scipy
pytz
python-dotenv
scikit-learn
streamlit-autorefresh
urllib3


fastapi
uvicorn[standard]
pydantic


databases[postgresql]
sqlalchemy
psycopg2-binary
